:root {
  --color-base: #001f65;
  --color-primary: #6895fd;
  --color-white: #ffffff;
}

body {
  font-family: -apple-system, "Inter", sans-serif;
}

.hero {
  min-height: 100vh;
  background-color: var(--color-base);
background: linear-gradient(to bottom, var(--color-base), var(--color-primary));
  color: var(--color-white);
}

.hero-title {
  font-size: 180px;
  font-family: "JetBrains Mono", monospace !important ;
color: whitesmoke;
text-align: center;

}

.lead {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
}

.hero-img{
  border-radius: 50%;
}

.tagline {
  text-align: center;
  color: whitesmoke;
  
}

.nav {
  --bs-nav-link-color: whitesmoke;
  --bs-nav-link-hover-color: lightgrey;
}

.Section-title{
  font-family: "JetBrains Mono", monospace;
  color: black;
  font-size: 5rem;
}
.para, .edu-list{
  color: black;
  font-size: 1.8rem;
}

.hero-sub {
  font-family: "JetBrains Mono", monospace;
}

